﻿
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>iletişim</title>
    <style>
        .Iletisim{
            width:850px;
            height:500px;
            background-color:aquamarine;
            margin:auto;
            margin-top:10px;
            text-align:center;
        }
    </style>
</head>
<body>
   <div class="Iletisim">
       <p>İLETİŞİM</p><br />
       Perpa Tic. Merk. A Blok Kat:4 No:277 Sarı Avlu
       Halil Rıfat Paşa Mah.
       34384 Okmeydanı-Şişli / İSTANBUL

       <p>Telefon:</p>  (0212) 320 67 50  , 0850 500 12 12
       <p>Fax:</p> (0212) 320 67 60

   </div>
</body>
</html>


