﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .IndexEkran{
            width:1300px;
            height:500px;
            position: relative;
            margin: auto;
            background-color:brown;
            overflow:hidden /*taşan kısımları gizledik */
        }
        .Resim-Bir,.Resim-Iki,.Resim-Uc,.Resim-Dort{
            position:absolute;
            width:700px;
            height:500px;
        }
        .Resim-Bir{/*resimleri yanyana koymaya başladık*/
            left:0px;
        }
        .Resim-Iki{
            left:700px;
        }
        .Resim-Uc{
            left:1400px;
        }
        .Resim-Dort{
            left:2100px;
        }
        .IndexEkran>.Slider{
            position:absolute;
            left:0px;
            width:2100px;
            height:500px;
            -webkit-animation-name:sliders;
            -webkit-animation-duration:15s;/*slider geçme hızı*/
            -webkit-animation-iteration-count:infinite;/*tekrarlama durumu*/
        }
         .IndexEkran > .Slider:hover {
            -webkit-animation-play-state: paused; /*mause üzerine gelince slider durur.*/
        }    
          .footer{
             width:1300px;
             height:120px;
             background-color:skyblue;
             margin:auto;
             font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
             text-align:end;
         }

    </style>
</head>
<body>
   <div class="IndexEkran">
       <div class="Slider">
           <a href="" class="Resim-Bir">
               <img src="~/Resimler/resim-1.jpg" width="1300" height="500" /><!--resimlerimizi ekran ekledik-->
           </a>
           <a href="" class="Resim-Iki">
               <img src="~/Resimler/resim-2.jpg" width="1300" height="500"/>
           </a>
           <a href="" class="Resim-Uc">
               <img src="~/Resimler/resim-3.jpg" width="1300" height="500"/>
           </a>
           <a href="" class="Resim-Dort">
               <img src="~/Resimler/resim-4.jpg" width="1300" height="500"/>
           </a>
       </div>   
   </div>
    <div class="footer">
        © Copyright 2016. ovoyazilim.com. Her hakkı saklıdır.
    </div>
</body>
</html>


