﻿@model Odev.Models.UyeOl

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tesekkur</title>
</head>
<body>
    <div> 
        <h1>Kaydınız başarıyla alınmıştır.,@Model.AdSoyad</h1>
    </div>
</body>
</html>
