﻿@model Odev.Models.UyeGirisi

@{
    ViewBag.Title = "UyeGirisi";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}

<html>
<head>
    <title>UyeGirisi</title>   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="UyeGirisi">
        @using (Html.BeginForm("UyeGirisi", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="container">
                <div>
                    <div class="jumbotron">
                        <h1>ÜYE GİRİŞ SAYFASI</h1>
                    </div>
                </div>
                <div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Ad Soyad</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="adsoyad" placeholder="Ad Soyad Giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Şifre</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="sifre" placeholder="Şifrenizi Giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-3">
                            <button class="btn btn-danger" type="submit" value="ekle">GİR</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>

