﻿@model Odev.Models.UyeOl

@{
    ViewBag.Title = "UyeOl";
    Layout = "~/Views/Shared/_LayoutYeni.cshtml";
}

<html>
<head>
    <title>UyeOl</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="UyeOl">
        @using (Html.BeginForm("UyeOl", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="container">
                <div>
                    <div class="jumbotron">
                        <h1>ÜYE KAYIT SAYFASI</h1>
                        <p>Tüm Alanlar Zorunludur</p>
                    </div>
                </div>
                <div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Ad Soyad</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="adsoyad" placeholder="Ad Soyad Giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Şifre</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="sifre" placeholder="Şifrenizi Giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Meslek</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="meslek" placeholder="Mesleğinizi Giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">E-Posta</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="eposta" placeholder="E-Posta Giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Telefon</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="text" name="telefon" placeholder="Telefon Giriniz" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-3">
                            <button class="btn btn-danger" type="submit" value="ekle">EKLE</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </body>
</html>
