﻿@model List<Odev.Models.UyeOl>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>yeniListe</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Yeni Üye Listesi</h1>
        </div> 
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ad-Soyad</th>
                        <th>Şifre</th>
                        <th>Meslek</th>
                        <th>E-Posta</th>
                        <th>Telefon No</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var liste in Model)
                    {
                        <tr>
                            <td>@liste.AdSoyad</td>
                            <td>@liste.Sifre</td>
                            <td>@liste.Meslek</td>
                            <td>@liste.EPosta</td>
                            <td>@liste.TelNo</td>
                        </tr>
                    }
                </tbody>    
            </table>
        </div>
    </div>
</body>
</html>
