﻿    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutYeni</title>
    <style>
        .AnaDiv{
            width: 1300px;
            height:150px;
            padding: 20px;
            background-color: skyblue;
            position: relative;
            margin: auto;
            border-radius:5px;
        }
        .menu{
            width: 900px;
            height:60px;
            background-color:#ff6a00;
            float:left;
            border-radius:5px;
        }
        .menu li{
            display:block;
            float:left;
            margin:10px;
            text-align:center;
        }
        .Dil{
            width:100px;
            height:60px;
            margin-left:10px;
            background-color:#ff6a00;
            float:left;
            text-align:center;
            border-radius:5px;
        }
        .Sosyal{
            width:280px;
            height:60px;
            margin-left:10px;
            background-color:#ff6a00;
            float:left;
            border-radius:5px;
            text-align:center;
        }
        .SehirSec{
            float:left;
            width:150px;
            height:60px;
            border-radius:5px;
        }
        .DersSec{
            float:left;
            width:150px;
            height:60px;
            border-radius:5px;
        }
        .Gonder{
            width:50px;
            height:50px;
            float:left;
            margin-top:35px;
        }
    </style>
</head>
<body>


    Veysel Oğuz GÜL
    b141210265


    <div class="AnaDiv">
        <div class="menu">
            <ul>
                <li>@Html.ActionLink(Odev.Resources.HomeTexts.Index,"Index", "Home")</li>
                <li>@Html.ActionLink(Odev.Resources.HomeTexts.Iletisim, "Iletisim", "Home")</li>
                <li>@Html.ActionLink(Odev.Resources.HomeTexts.UyeOl,"UyeOl", "Home")</li>
                <li>@Html.ActionLink(Odev.Resources.HomeTexts.UyeGirisi,"UyeGirisi", "Home")</li>
            </ul>
        </div>
        <div class="Dil">
            <ul>
                <li>@Html.ActionLink(Odev.Resources.HomeTexts.Dil, "Index", "Language")</li>
            </ul>
        </div>
        <div class="Sosyal">
          <a href="https://www.facebook.com/"target="_blank"><img src="~/Resimler/facebook.png" width="60" height="60"/></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="~/Resimler/instagram.png" width="60" height="60" /></a>
            </div>        
        <div class="SehirSec">
            <b>Şehir Seçiniz</b><br /><br />
            <select>
                <option>...</option>
                <option>Adana</option>
                <option>Adıyaman</option>
                <option>Afyon</option>
                <option>Ağrı</option>
                <option>Amasya</option>
                <option>Ankara</option>
                <option>Antalya</option>
                <option>Artvin</option>
                <option>Aydın</option>
                <option>Balıkesir</option>
                <option>Bilecik</option>
                <option>Bingöl</option>
                <option>Bitlis</option>
                <option>Bolu</option>
                <option>Burdur</option>
                <option>Bursa</option>
                <option>Çanakkale</option>
                <option>Çankırı</option>
                <option>Çorum</option>
                <option>Denizli</option>
                <option>Diyarbakır</option>
                <option>Edirne</option>
                <option>Elazığ</option>
                <option>Erzincan</option>
                <option>Erzurum</option>
                <option>Eskişehir</option>
                <option>Gaziantep</option>
                <option>Giresun</option>
                <option>Gümüşhane</option>
                <option>Hakkari</option>
                <option>Hatay</option>
                <option>Isparta</option>
                <option>İçel (Mersin)</option>
                <option>İstanbul</option>
                <option>İzmir</option>
                <option>Kars</option>
                <option>Kastamonu</option>
                <option>Kayseri</option>
                <option>Kırklareli</option>
                <option>Kırşehir</option>
                <option>Kocaeli</option>
                <option>Konya</option>
                <option>Kütahya</option>
                <option>Malatya</option>
                <option>Manisa</option>
                <option>K.maraş</option>
                <option>Mardin</option>
                <option>Muğla</option>
                <option>Muş</option>
                <option>Nevşehir</option>
                <option>Niğde</option>
                <option>Ordu</option>
                <option>Rize</option>
                <option>Sakarya</option>
                <option>Samsun</option>
                <option>Siirt</option>
                <option>Sinop</option>
                <option>Sivas</option>
                <option>Tekirdağ</option>
                <option>Tokat</option>
                <option>Trabzon</option>
                <option>Tunceli</option>
                <option>Uşak</option>
                <option>Van</option>
                <option>Yozgat</option>
                <option>Zonguldak</option>
                <option>Aksaray</option>
                <option>Bayburt</option>
                <option>Karaman</option>
                <option>Kırıkkale</option>
                <option>Batman</option>
                <option>Şırnak</option>
                <option>Bartın</option>
                <option>Ardahan</option>
                <option>Iğdır</option>
                <option>Yalova</option>
                <option>Karabük</option>
                <option>Kilis</option>
                <option>Osmaniye</option>
                <option>Düzce</option>
            </select>
        </div> 
        <div class="DersSec">
            <b>Ders Seçiniz</b><br /><br />
            <select>
                <option>...</option>
                <option>Matematik</option>
                <option>Fen Bilgisi</option>
                <option>Edebiyat</option>
                <option>Biyoloji</option>
                <option>Kimya</option>
                <option>Fizik</option>
                <option>Resim</option>
                <option>Muzik</option>
                <option>Sürüş Dersi</option>
                <option>Yabancı Dil</option>
            </select>
        </div>  
        <div class="Gonder">
            <input type="submit" value="ARA" />
        </div>    
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
